.player {
    width: 300px;
    background-color: #ccc;
    padding: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playPauseButton {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

#timeSlider,
#volumeControl {
    flex-grow: 1;
    margin: 0 10px;
}

#progressBar {
    height: 5px;
    width: 1px;
    background-color: #888;
}