/* classes for title, subtitle, container and button */
.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
